USE QuanLyGiaoHang

/*Tao bang*/
CREATE TABLE LOAIMATHANG
(
MaLoaiMatHang NVARCHAR(20) NOT NULL,
TenLoaiMatHang NVARCHAR(20) NOT NULL,
CONSTRAINT PK_LOAIMATHANG PRIMARY KEY(MaLoaiMatHang)
)

CREATE TABLE KHOANGTHOIGIAN
(
MaKhoangThoiGian NVARCHAR(10) NOT NULL,
MoTa NVARCHAR(20) NOT NULL,
CONSTRAINT PK_KHOANGTHOIGIAN PRIMARY KEY(MaKhoangThoiGian)
)

CREATE TABLE DANGKYGIAOHANG
(
MaThanhVienGiaoHang NVARCHAR(10) NOT NULL,
MaKhoangThoiGianDKGiaoHang NVARCHAR(10) NOT NULL,
CONSTRAINT PK_DANGKYGIAOHANG PRIMARY KEY(MaThanhVienGiaoHang ,MaKhoangThoiGianDKGiaoHang),
CONSTRAINT FK_DANGKYGIAOHANG_MaKhoangThoiGianDKGiaoHang
FOREIGN KEY(MaKhoangThoiGianDKGiaoHang)
REFERENCES KHOANGTHOIGIAN(MaKhoangThoiGian)
ON DELETE CASCADE
ON UPDATE CASCADE
)

CREATE TABLE KHUVUC
(
MaKhuVuc NVARCHAR(10) NOT NULL,
TenKhuVuc NVARCHAR(20) NOT NULL,
CONSTRAINT PK_KHUVUC PRIMARY KEY(MaKhuVuc)
)

CREATE TABLE THANHVIENGIAOHANG
(
MaThanhVienGiaoHang NVARCHAR(10) NOT NULL,
TenThanhVienGiaoHang NVARCHAR(20) NOT NULL,
NgaySinh NVARCHAR(10) NOT NULL,
GioiTinh NVARCHAR(10) NOT NULL,
SoDTThanhVien NUMERIC(10, 0) NOT NULL,
DiaChiThanhVien NVARCHAR(50) NOT NULL,
CONSTRAINT PK_THANHVIENGIAOHANG PRIMARY KEY(MaThanhVienGiaoHang),
/*CONSTRAINT FK_THANHVIENGIAOHANG_MaThanhVienGiaoHang
FOREIGN KEY(MaThanhVienGiaoHang)
REFERENCES DANGKYGIAOHANG(MaThanhVienGiaoHang ,MaKhoangThoiGianDKGiaoHang)
ON DELETE CASCADE
ON UPDATE CASCADE*/
)

CREATE TABLE KHACHHANG
(
MaKhachHang NVARCHAR(10) NOT NULL,
MaKhuVuc NVARCHAR(10) NOT NULL,
TenKhachHang NVARCHAR(20) NOT NULL,
TenCuaHang NVARCHAR(20) NOT NULL,
SoDTKhachHang NUMERIC(10, 0) NOT NULL,
DiaChiEmail NVARCHAR(50) NOT NULL,
DiaChiNhanHang NVARCHAR(50) NOT NULL,
CONSTRAINT PK_KHACHHANG PRIMARY KEY(MaKhachHang),
CONSTRAINT FK_KHACHHANG_MaKhuVuc
FOREIGN KEY(MaKhuVuc)
REFERENCES KHUVUC(MaKhuVuc)
ON DELETE CASCADE
ON UPDATE CASCADE
)

CREATE TABLE DICHVU
(
MaDichVu NVARCHAR(10) NOT NULL,
TenDichVu NVARCHAR(50) NOT NULL,
CONSTRAINT PK_DICHVU PRIMARY KEY(MaDichVu)
)

CREATE TABLE DONHANG_GIAOHANG
(
MaDonHangGiaoHang NVARCHAR(10) NOT NULL,
MaKhachHang NVARCHAR(10) NOT NULL,
MaThanhVienGiaoHang NVARCHAR(10) NOT NULL,
MaDichVu NVARCHAR(10) NOT NULL,
MaKhuVucGiaoHang NVARCHAR(10) NOT NULL,
TenNguoiNhan NVARCHAR(20) NOT NULL,
DiaChiGiaoHang NVARCHAR(50) NOT NULL,
SoDTNguoiNhan NUMERIC(10, 0) NOT NULL,
MaKhoangThoiGianGiaoHang NVARCHAR(10) NOT NULL,
NgayGiaoHang NVARCHAR(10) NOT NULL,
PhuongThucThanhToan NVARCHAR(20) NOT NULL,
TrangThaiPheDuyet NVARCHAR(20) NOT NULL,
TrangThaiGiaoHang NVARCHAR(20) NULL,
CONSTRAINT PK_DONHANG_GIAOHANG PRIMARY KEY(MaDonHangGiaoHang),
CONSTRAINT FK_DONHANG_GIAOHANG_MaKhachHang
FOREIGN KEY(MaKhachHang)
REFERENCES KHACHHANG(MaKhachHang)
ON DELETE CASCADE
ON UPDATE CASCADE,
CONSTRAINT FK_DONHANG_GIAOHANG_MaThanhVienGiaoHang
FOREIGN KEY(MaThanhVienGiaoHang)
REFERENCES THANHVIENGIAOHANG(MaThanhVienGiaoHang)
ON DELETE CASCADE
ON UPDATE CASCADE,
CONSTRAINT FK_DONHANG_GIAOHANG_MaDichVu
FOREIGN KEY(MaDichVu)
REFERENCES DICHVU(MaDichVu)
ON DELETE CASCADE
ON UPDATE CASCADE,
CONSTRAINT FK_DONHANG_GIAOHANG_MaKhuVucGiaoHang
FOREIGN KEY(MaKhuVucGiaoHang)
REFERENCES KHUVUC(MaKhuVuc)
ON DELETE
NO ACTION,
CONSTRAINT FK_DONHANG_GIAOHANG_MaKhoangThoiGianGiaoHang
FOREIGN KEY(MaKhoangThoiGianGiaoHang)
REFERENCES KHOANGTHOIGIAN(MaKhoangThoiGian)
ON DELETE CASCADE
ON UPDATE CASCADE,
)

CREATE TABLE CHITIET_DONHANG
(
MaDonHangGiaoHang NVARCHAR(10) NOT NULL,
TenSanPhamDuocGiao NVARCHAR(20) NOT NULL,
SoLuong TINYINT NOT NULL,
TrongLuong FLOAT NOT NULL,
MaLoaiMatHang NVARCHAR(20) NOT NULL,
TienThuHo MONEY NOT NULL,
CONSTRAINT PK_CHITIET_DONHANG PRIMARY KEY(MaDonHangGiaoHang, TenSanPhamDuocGiao),
CONSTRAINT FK_CHITIET_DONHANG_MaLoaiMatHang
FOREIGN KEY(MaLoaiMatHang)
REFERENCES LOAIMATHANG(MaLoaiMatHang)
ON DELETE CASCADE
ON UPDATE CASCADE,
CONSTRAINT FK_CHITIET_DONHANG_MaDonHangGiaoHang
FOREIGN KEY(MaDonHangGiaoHang)
REFERENCES DONHANG_GIAOHANG(MaDonHangGiaoHang)
ON DELETE CASCADE
ON UPDATE CASCADE
)
